body {
    font-family: sans-serif;
    background-color: brown;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color:white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
            .text{
                font-family:monotype corsiva;
                color:white;
                font-size:50px;
            }
           
h5 {
    color: lightgrey;
    font-family: sans-serif;
    font-size: 70px;
    padding-top: 90px;
    padding-left: 25px;
}
